<div class="container-fluid">
  <div class="row no-gutters">
    <div class="col-md-3 mx-2 mx-sm-auto text-center shadow-lg rounded px-0 my-5">
      <h3 class ="text-light bg-dark py-3 mb-0">新規投稿</h3>


      
      <div class="error-messages">
  <% if @comment.errors.any? %>
    <%= @comment.errors.count %>件のエラーがあります
    <ul>
      <% @comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
</div>


   <%= form_with model: @comment do |f| %>
　   <div class ="form-new mx-3">
　     <label for="comment_title" style="float: left;">タイトル</label>
       <input class ="form-control comment-title" name="comment[title]" id="comment_title"></input>
　   </div>
　   <div class ="form-new mx-3">
　     <label for="comment_title" style="float: left;">本文</label>
　     <textarea class="form-control body" name="comment[body]" id="comment_body"></textarea>
　   </div>
　   <div class ="form-new mx-3 mb-3">
　     <%= f.submit '投稿する' ,class: "btn btn-success"%>
     </div>
   <% end %>
  </div>

  </div>
</div>