<div class="container-fluid">
  <div class="row no-gutters">
    <div class="col-md-6 mx-2 mx-sm-auto text-center shadow-lg rounded px-0 my-5">
      <h3 class="text-dark bg-light py-4 mb-0">全国高齢者いきいきサロン　オンライン</h3>


<div>
  <p><%= link_to "サイトに関して", about_path %></p>
  <p><%= link_to "ゲストログイン（お試し利用）", guest_sign_in_path, method: :post %>
  <p><%= link_to "新規登録", new_user_registration_path %></p>
  <p><%= link_to "ログイン", new_user_session_path %></p>
</div>

    </div>
  </div>
</div>